{% load staticfiles %}

<!doctype html>
<html ng-app="progressCircle">
  <head>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="Main">
    <div progress-circle expected="expected" actual="actual" cooldown="cooldown">
    </div>
    <img src="{% static 'img/'|add:username|add:'.jpg' %}" ng-click="click()">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="//js.pusher.com/2.1/pusher.min.js"></script>
    <script>
      PUSHER_KEY = '{{ PUSHER_KEY }}';
      MESSAGE_URL = '{% url 'message' channel %}';
      CHANNEL = '{{ channel }}';
      USERNAME = '{{ username }}';
    </script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
